/wheels
/http
/selfcheck
*.pdf
*.docx
*.doc
*.xhtml
*.xml
word/test
/__pycache__
word/__pycache__
/.idea
*.png
*.zip
http-v2
selfcheck
#models
*.jpg
temp_processing
data
pdf
files
!models/img.png
temp